/* .logo {
    font-size: 42px;
    background: -webkit-linear-gradient(#e250e6, #4b50e6, #e250e6, #4b50e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
} */

.home {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), hwb(0 0% 100% / 0.8)), url(2.png);
    background-size: cover;
    object-fit: contain;
}

.header a.active {
    color: #8B4513;

}

nav {
    transition: 1s;
    overflow-y: hidden;
}

@media screen and (max-width: 600px) {
    .header a.active {
        background: inherit;
        border-top: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}


.orange {
    color: #ff7a01;
}

.form-container {
    max-width: 500px;
    margin: 30px;
    background-color: #0E0D09;
    padding: 30px;
    border-left: 5px solid #8B4513;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.form-container .form .input {
    color: black;
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

.form-container .form .input:focus {
    border-left: 5px solid #ff7a01;
}

.form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    color: black;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
    border-left: 5px solid #ff7a01;
}

.form-container .form .button-container {
    display: flex;
    gap: 10px;
}

.form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #A6846B;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #ff7a01;
    color: #ff7a01;
}

.form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background: #A6846B;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
    background: transparent;
    color: #001925;
}