/* .logo {
    font-size: 42px;
    background: -webkit-linear-gradient(#e250e6, #4b50e6, #e250e6, #4b50e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
} */

.home {
    background: linear-gradient(to left, #262916, #000000cc), url(../images/Sumeer.png);
    background-size: cover;
}

.header a.active {
    color: black;

}

nav {
    transition: 1s;
    overflow-y: hidden;
}

@media screen and (max-width: 765px) {
    .header a.active {
        background: inherit;
        border-top: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}